a {
  text-decoration: none;
  color: var(--color-primary);
}

label {
  font-size: var(--font-size-14);
  color: var(--color-gray-medium);
}

input,
textarea,
select {
  font-family: var(--font-family-primary);
  color: var(--color-white);
  background-color: var(--color-black);
}

/* BUTTONS */
.button {
  padding: 10px 20px;
  margin: 10px;
  font-family: var(--font-family-primary);
  font-size: var(--font-size-14);
  font-weight: var(--font-weight-bold);
  color: var(--color-gray-light);
  background-color: var(--color-gray-medium);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}
.button:hover {
  background-color: var(--color-gray-light);
}
.button-primary {
  background-color: var(--color-primary-hover);
}
.button-primary:hover {
  background-color: var(--color-primary);
}
.button-danger {
  background-color: var(--color-danger-hover);
}
.button-danger:hover {
  background-color: var(--color-danger);
}

/* CHECKBOXES */
input[type='checkbox'] {
  filter: invert(100%);
  width: 16px;
  height: 16px;
  accent-color: var(--color-gray-dark); /* Dice checkbox colors are inverted */
  cursor: pointer;
}

/* IMAGES */
img {
  max-width: 100%;
  height: auto;
  display: block;
}
