a {
  text-decoration: none;
  color: goldenrod;
}

label {
  font-size: 14px;
  color: darkgray;
}

input,
textarea,
select {
  font-family: 'Lora', serif;
  color: white;
  background-color: black;
}

/* BUTTONS */
.button {
  padding: 10px 20px;
  margin: 10px;
  font-family: 'Lora', serif;
  font-size: 14px;
  font-weight: bold;
  color: white;
  background-color: darkgray;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.button:hover {
  background-color: gray;
}
.button-primary {
  background-color: goldenrod;
}
.button-primary:hover {
  background-color: darkgoldenrod;
}
.button-danger {
  background-color: darkred;
}
.button-danger:hover {
  background-color: red;
}

/* CHECKBOXES */
input[type='checkbox'] {
  filter: invert(100%);
  width: 16px;
  height: 16px;
  accent-color: rgb(68, 68, 68); /* Dice checkbox colors are inverted */
  cursor: pointer;
}

/* IMAGES */
img {
  max-width: 100%;
  height: auto;
  display: block;
}

/* INPUTS */
/* .input {
    background: black;
    color: inherit;
    padding: 5px;
    margin-left: 5px;
    margin-right: 5px;
}
.input-small {
    height: 20px;
    font-size: 14px;
}
.input-small[type="number"] {
    width: 35px;
    text-align: center;
}
.input-large {
    margin-left: 10px;
    font-size: 18px;
}
.input-large[type="number"] {
    width: 40px;
    text-align: center;
} */
